*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav
{
    margin-left: 20px;
}
nav ul
{
    display: flex;
    list-style: none;
    gap: 25px;
}
nav ul a
{
    text-decoration: none;
    color: black;
    font-family: "Oswald", sans-serif;
}
nav ul a:hover
{
    border-bottom: 1px solid orangered;
    color: orangered;
}
.derecha
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.iconos img
{
    width: 40px;
}
.logo img
{
    width: 100px;
}